<% Rails.application.config.another_logger.debug "[d] view: search" %>

<!-- headerのぶん -->
<div style="padding-top: 40px;">

<!-- マイページ -->
<div class="container">
  <% if @type1_name.present? %>
    <h1 class="shop-ttl" style="font-size: 20px;" ><%= "\"#{@type1_name}\" 一覧" %></h1>
  <% elsif @search_shop_result.present? %>
    <h1 class="shop-ttl" style="font-size: 20px;" ><%= "\"#{@search_shop_name}\" の検索結果" %></h1>
  <% end %>
  <div class="row justify-content-center show">
      
      <!-- サイドメニュー -->
      <div class="col-lg-3 col-xl-3">
        
        <!-- 販売生体一覧 -->
        <h2 class="menu-ttl">
          <div style="font-size:14px;"><%= "全国" %><br></div>
          販売生体
          <div class="arrow absolute ds-sp"><img src="image/arrow.png" alt=""></div>
        </h2>
        <ul class="menu-list">
          <!-- リンク先の生成 -->
          <% reptile_list = [ "ヘビ", "カメ", "トカゲ", "ヤモリ", "両生類", "奇虫・その他" ] %>
          <% reptile_list.each do |reptile_type| %>
            <%= link_to search_page_path(Reptile, type1: reptile_type, searchtype: "ctg_btn" ), style:"text-decoration: none;" do %>
            <li class="reptile-item"><%= reptile_type %>
              <div style="float: right; margin-right: auto;">
                <i class="fas fa-chevron-right"></i>
              </div>
            </li>
            <% end %>
          <% end %>
          <!-- ここまでリンク先の生成 -->
        </ul>
        <!-- ここまで販売生体一覧 -->
        
        <!-- 入荷情報 -->
        <h2 class="arrival-ttl menu-ttl relative mt-5">
          <div style="font-size:14px;"><%= "全国" %><br></div>
          新入荷
          <div class="arrow absolute ds-sp"><img src="image/arrow.png" alt=""></div>
        </h2>
        
        <ul class="menu-list">
          <li class="arrival-item">
              <p class="arrival-day">2020年◯月◯日入荷</p>
              <!-- ↓リンク入れて商品ページに飛ぶようにする -->
              <p class="arrival-animal"><a href="#">メキシカンブラックキングスネーク</a></p>
          </li>
        </ul>
        <!-- ここまで入荷情報 -->
        
      </div>
      <!-- ここまでサイドメニュー -->
      
      <!-- メイン -->
      <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
        <% if @disp_reptileinfo.present? %>
          <!-- レプタイル情報 -->
          <%= render "./users/reptileinfo" %>
        <% elsif @search_shop_result.present? || @search_shop_prefectures.present? %>
          <!-- ショップリスト情報 -->
          <%= render "./users/shoplist" %>
        <% else %>
          <!-- 生体リスト情報 -->
          <%= render "./users/reptilelist" %>
        <% end %>
      </div>
      
  </div>
</div>

<script>
  $('.menu-ttl').click(function() {
    $(this).next('.menu-list').slideToggle();
  });
  $('.sns-ttl').click(function() {
    $('.sns-box').slideToggle();
  });
</script>
