<% Rails.application.config.another_logger.debug "[d] view: static_pages/shop_page" %>

<!-- マイページ -->
<div id="wrapper">
  <!-- ショップ名orレプタイル種別 -->
  <h1 class="shop-ttl" style="font-size: 40px;"><%= @disp_shopinfo.shop_name %></h1>
  <% if @type1_name.present? %>
    <h1 class="shop-ttl" style="font-size: 20px;"><%= "\"#{@type1_name}\" 一覧" %></h1>
  <% end %>
  <!-- パンくずリスト -->
  <div class="section-breadcrumbs">
    <div class="container-breadcrumbs">
      <% if params[:current_reptile_type].present? %>
        <% breadcrumb :shop_reptile_search %>
      <% else %>
        <% breadcrumb :shop_page %>
      <% end %>
      <%= breadcrumbs pretext: "", separator: " &rsaquo; " %>
    </div>
  </div>
  
  <div class="inner">
    <div class="show">
      <!-- サイドメニュー -->
      <div class="side-content">

        <!-- 表示タイプ -->
        <% @disp_type = @disp_shopinfo.shop_name %>

        <!-- 販売生体一覧 -->
        <h2 class="menu-ttl">
          <div style="font-size:14px;"><%= @disp_type %><br></div>
          販売生体
          <div class="arrow absolute ds-sp"><img src="image/arrow.png" alt=""></div>
        </h2>
        <ul class="menu-list">
          <!-- リンク先の生成 -->
          <% reptile_list = [ "ヘビ", "カメ", "トカゲ", "ヤモリ", "両生類", "奇虫・その他" ] %>
            <% reptile_list.each do |reptile_type| %>
            <%= link_to shop_page_path(Reptile, type1: reptile_type, shop_id: @disp_shopinfo.id), style:"text-decoration: none;" do %>
            <li class="reptile-item"><%= reptile_type %>
              <div style="float: right; margin-right: auto;">
                <i class="fas fa-chevron-right"></i>
              </div>
            </li>
            <% end %>
          <% end %>
          <!-- /リンク先の生成 -->
        </ul>
        <!-- /販売生体一覧 -->

        <!-- 入荷情報 -->
        <% if @new_arrivals.present? %>
          <h2 class="arrival-ttl menu-ttl relative">
            <div style="font-size:14px;"><%= @disp_type %><br></div>新入荷
            <div class="arrow absolute ds-sp"><img src="image/arrow.png" alt=""></div>
          </h2>
          <ul class="menu-list">
            <% @new_arrivals.each do |new_regist| %>
              <li class="arrival-item">
                <p class="arrival-day"><%= l(new_regist.created_at, format: :default2 ) %></p>
                <%= link_to new_regist.type_name, shop_page_path(reptile_id: new_regist.id, shop_id: @disp_shopinfo.id), class:"arrival-animal" %>
                <div class="arrival-day"><%= "（ 種別1: #{new_regist.type1} ）" %></div>
              </li>
            <% end %>
          </ul>
        <% end %>
        <!-- /入荷情報 -->

        <!-- SNS -->
        <div class="sns-box-wrap wrap-trigger">
          <% if @disp_shopinfo.twitter.present? || @disp_shopinfo.instagram.present? %>
          <h2 class="sns-ttl relative">SNS
            <div class="arrow absolute ds-sp"><img src="image/arrow.png" alt=""></div>
          </h2>
          <% end %>

          <!-- twitter -->
          <% if @disp_shopinfo.twitter.present? %>
          <div class="sns-box">
            <a class="twitter-timeline" data-width="100%" data-height="100%" data-theme="dark"
              href=<%= @disp_shopinfo.twitter %>></a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          <% end %>
          <!-- twitter -->

          <!-- Instagram -->
          <% if @disp_shopinfo.instagram.present? %>
          <div style="padding: 10px 0;">
            <%= @disp_shopinfo.instagram.html_safe %>
          </div>
          <% end %>
          <!-- Instagram -->
        </div>
        <!-- SNS -->
      </div>
      <!-- /サイドメニュー -->

      <!-- メイン -->
      <div class="main-content">
        <% if @disp_shopinfo.present? && @search_cate == "nodata" %>
        <!-- ショップ情報 -->
        <%= render "./users/shop_info" %>
        <% elsif @shop_reptile_type1.present? && @search_cate == "type1" %>
        <!-- ショップの生体リスト情報 -->
        <%= render "./users/reptile_list" %>
        <% elsif @shop_search_reptile.present? && @search_cate == "search_shop_reptile" %>
        <!-- ショップ内レプタイル検索結果 -->
        <%= render "./users/reptile_list" %>
        <% elsif @select_reptile.present? && @search_cate == "reptile_info" %>
        <!-- レプタイル情報 -->
        <%= render "./users/reptile_info" %>
        <% end %>
      </div><!-- main-content -->
      
    </div><!-- show -->
  </div><!-- inner -->
</div><!-- wrapper -->

<script>
  $('.menu-ttl').click(function () {
    $(this).next('.menu-list').slideToggle();
  });
  $('.sns-ttl').click(function () {
    $('.sns-box').slideToggle();
  });
</script>
