<% Rails.application.config.another_logger.debug "[d] view: StaticPages#top" %>

<div class="fv">
<div class="overlay"></div>
  <div class="fv-block">
    <h1 class="fv-ttl">Reptiles Search</h1>
    <p class="fv-txt01">全国の爬虫類ショップから<br>ヘビやトカゲなど一括検索！!</p>

    <div class="cp_arrows">
      <div class="cp_arrow cp_arrowfirst"></div>
      <div class="cp_arrow cp_arrowsecond"></div>
    </div>

    <div class="totall-search">
        <div class="search-ttl-block">
          <i class="fas fa-paw"></i>
          <h2 class="search-ttl">爬虫類を探す</h2>
        </div>
        <div class="search-form">
          <%= form_with(url: alljapan_page_path, method: :get, local: true) do |f| %>
            <%= f.hidden_field :searchtype, :value => "form" %>
            <%= f.text_field :search, :placeholder => "種名やモルフを入力して下さい", class:"search-box" %>
            <%= f.submit '検索', class:"search-btn" %>
          <% end %>
        </div>
      </div><!-- 全体検索フォーム -->
  </div>
</div>

<main class="top-search">
  <div class="bg">
    <div class="inner">

      
      
      <section class="group-search">
        <div class="search-ttl-block">
          <i class="fas fa-frog"></i>
          <h2 class="search-ttl">種類から探す</h2>
        </div>
        <ul class="group-search-list">
          <% animal_list = [ "snake", 'turtle', "lizard","gecko", "amphibian", "others" ] %>
          <% translation = [ "ヘビ", "カメ", "トカゲ","ヤモリ", "両生類", "奇虫・その他" ] %>
          <% @count = 0 %>
          <% animal_list.each do |animal_type| %>
          <li class="group-search-item">
            <div class="photo">
              <%= link_to image_tag("/uploads/main/#{animal_type}.jpg"),
              alljapan_page_path(type1: translation[@count], searchtype: "ctg_btn" ) %>
            </div>
            <p class="species"><%= translation[@count] %></p>
          </li>
          <% @count +=1 %>
          <% end %>
        </ul> <!-- 種類から探す：end -->
        </section>

      <section class="shop-search">
        <div class="search-ttl-block">
          <i class="fas fa-spider"></i>
          <h2 class="search-ttl">爬虫類ショップを探す</h2>
        </div>
        <div class="search-form">
          <%= form_with(url: alljapan_page_path, method: :get, local: true) do |f| %>
            <%= f.hidden_field :searchtype, :value => "shop_name" %>
            <%= f.text_field :search, :placeholder => "ショップ名を入力して下さい", class:"search-box" %>
            <%= f.submit '検索', class:"search-btn" %>
          <% end %>
        </div>
      </section><!-- ショップ検索フォーム -->
      
      <section class="area-search">
        <div class="search-ttl-block">
          <i class="fas fa-map-marked-alt"></i>
          <h2 class="search-ttl search-ttl02">ショップを都道府県から検索</h2>
        </div>
        <div class="search-form">
        <% @prefectures = Prefecture.all %>
          <%= form_with(url: alljapan_page_path, method: :get, local: true) do |f| %>
            <%= f.hidden_field :searchtype, :value => "shop_name" %>
            <%= f.collection_select :prefectures, @prefectures, :pref, :pref, {include_blank: true}, { class: "search-box select-box"} %>
            <%= f.submit '検索', class:"search-btn" %>
          <% end %>
        </div>
      </div><!-- 都道府県から検索 -->

    </div><!-- .inner -->
  </div><!-- .bg -->
</main>
