<% Rails.application.config.another_logger.debug "[d] view: ユーザー情報の変更 id=#{@user.id}" %>
<div class="row justify-content-center">
  <div class="col-11">
    <% if @signup == "no_shop_name" %>
      <% provide(:regist_or_edit, '登録') %>
      <% @regist_message = "ショップ情報を登録します。\nこの内容でよろしければOKを押してください。" %>
    <% else %>
      <% provide(:regist_or_edit, '更新') %>
      <% @regist_message = "ショップ情報を更新します。\nこの内容でよろしければOKを押してください。" %>
    <% end %>
    <h2><%= "ショップ情報の#{yield(:regist_or_edit)}" %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      
      
      <div style="margin: 10px 0 0 5px;">
        <%= f.label :shop_images %>
        <div class="img-coment">（４枚まで登録できます）</div>
      </div>
      
      <!-- shop_images -->
      <!-- イメージ１ -->
      <div class="shopimg-flex">
        <div class="img-inner">
          <div class="img-box">
            <%= f.label :shop_img1, for: "post_img1" do %>
              <% if current_user.shop_img1.present? %>
                <!-- 登録済み画像 -->
                <%= image_tag current_user.shop_img1.url, id: "prev_img1", class: "select_img" %>
              <% else %>
                <!-- 選択前 -->
                <div class="before_img1 select_before" id="before_img1">
                  <div class="img-text">
                    <p><b><%= "１枚目" %></b></p>
                    <i class="fas fa-camera" style="color: #000;"></i>
                    <p><%= "クリックでファイル" %><br><%= "アップロード" %></p>
                  </div>
                </div>
                <!-- 選択後 -->
                <img src="" id="prev_img1" class="hidden" />
              <% end %>
              
              <%= f.file_field :shop_img1, id: 'post_img1', class: "hidden" %>
            <% end %>
          </div>
        </div>
        
        <!-- イメージ２ -->
        <div class="img-inner">
          <div class="img-box">
            <%= f.label :shop_img2, for: "post_img2" do %>
              <% if current_user.shop_img2.present? %>
                <!-- 登録済み画像 -->
                <%= image_tag current_user.shop_img2.url, id: "prev_img2", class: "select_img" %>
              <% else %>
                <!-- 選択前 -->
                <div class="before_img2 select_before" id="before_img2">
                  <div class="img-text">
                    <p><b><%= "２枚目" %></b></p>
                    <i class="fas fa-camera" style="color: #000;"></i>
                    <p><%= "クリックでファイル" %><br><%= "アップロード" %></p>
                  </div>
                </div>
                <!-- 選択後 -->
                <img  src="" id="prev_img2" class="hidden" />
              <% end %>
              
              <%= f.file_field :shop_img2, id: 'post_img2', class: "hidden" %>
            <% end %>
          </div>
        </div>
      </div>
      
      <!-- 1枚目、２枚目が登録済みなら表示 -->
      <div class=<%= "hidden" unless current_user.shop_img1.present? && current_user.shop_img2.present? %> id="post_img3_4">
      <div class="shopimg-flex">
        <!-- イメージ３ -->
        <div class="img-inner">
          <div class="img-box">
            <%= f.label :shop_img3, for: "post_img3" do %>
              <% if current_user.shop_img3.present? && current_user.shop_img3.url != '/uploads/TestFolder/noimage.jpg' %>
                <!-- 登録済み画像 -->
                <%= image_tag current_user.shop_img3.url, id: "prev_img3", class: "select_img" %>
              <% else %>
                <!-- 選択前 -->
                <div class="before_img3 select_before">
                  <div class="img-text">
                    <p><b><%= "3枚目" %></b></p>
                    <i class="fas fa-camera" style="color: #000;"></i>
                    <p><%= "クリックでファイル" %><br><%= "アップロード" %></p>
                  </div>
                </div>
                <!-- 選択後 -->
                <img  src="" id="prev_img3" class="hidden" />
              <% end %>
              
              <%= f.file_field :shop_img3, id: 'post_img3', class: "hidden" %>
            <% end %>
          </div>
        </div>
        
        <!-- イメージ４ -->
        <div class="img-inner">
          <div class="img-box">
            <%= f.label :shop_img4, for: "post_img4" do %>
              <% if current_user.shop_img3.present? && current_user.shop_img4.url != '/uploads/TestFolder/noimage.jpg' %>
                <!-- 登録済み画像 -->
                <%= image_tag current_user.shop_img4.url, id: "prev_img4", class: "select_img" %>
              <% else %>
                <!-- 選択前 -->
                <div class="before_img4 select_before">
                  <div class="img-text">
                    <p><b><%= "４枚目" %></b></p>
                    <i class="fas fa-camera" style="color: #000;"></i>
                    <p><%= "クリックでファイル" %><br><%= "アップロード" %></p>
                  </div>
                </div>
                <!-- 選択後 -->
                <img  src="" id="prev_img4" class="hidden" />
              <% end %>
              
              <%= f.file_field :shop_img4, id: 'post_img4', class: "hidden" %>
            <% end %>
          </div>
        </div>
      </div>
      </div>
      <!-- shop_images /-->
      
      <!--
      <div class="field">
        <%= f.label :email, class: "mt-2" %>
        <%= f.email_field :email, autofocus: false, autocomplete: "email", class: "form-control" %>
      </div>
      -->
      
      <div class="field">
        <%= f.label :shop_name, class: "mt-2" %><span>必須</span>
        <%= f.text_field :shop_name, autofocus: false, autocomplete: "shop_name", class: "form-control mg-tb-6" %>
      </div>
      
      <!-- 都道府県の選択 -->
      <% @prefectures = Prefecture.all %>
      <div class="field">
        <%= f.label :prefectures, class: "mt-2" %><span>必須</span>
        <%= f.collection_select :prefectures, @prefectures, :pref, :pref, {include_blank: true, autocomplete: "prefectures"}, { class: "form-control mg-tb-6" } %>
      </div>
      
      <div class="field">
        <%= f.label :address, class: "mt-2" %><span>必須</span>
        <%= f.text_area :address, autofocus: false, autocomplete: "address", class: "form-control mg-tb-6" %>
      </div>
      
      <!-- マップ検索の選択 -->
      <div class="map-select-box">
        <div class="map-icon">
          <img src="https://img.icons8.com/color/48/000000/google-maps.png" width="30px" height="30px" /><%= f.label :search_map, class: "mt-1" %>
        </div>
        <div class="guide1 mt-2">登録内容からGoogleマップを表示できます。</div>
        
        <div class="map-select">
          <div>
            <p class="map-radio-select"><%= f.radio_button :search_map, "1" %> "ショップ名" でマップ検索</p>
            <p class="map-radio-select"><%= f.radio_button :search_map, "2" %> "住所" でマップ検索</p>
            <p class="map-radio-select"><%= f.radio_button :search_map, "3" %> マップを使用しない</p>
          </div>
          <div class="guide2">
            ※Googleマップで店舗情報を登録済の場合　<br>
            　"ショップ名"の検索がオススメです。
          </div>
        </div>
      </div>
      
      <!-- アクセス方法、電話、営業時間、定休日 -->
      <% arrey = [
        [:howto_access, "howto_access"],
        [:tel, "tel"],
        [:business_hours, "business_hours"],
        [:holiday, "holiday"]
        ] %>
      
      <% arrey.map do |first,second| %>  
        <div class="field">
          <%= f.label first, class: "mt-2" %>
          <%= f.text_field first, autofocus: false, autocomplete: second, class: "form-control mg-tb-6" %>
        </div>
      <% end %>
      
      <!-- 取り扱い、店舗の特徴 -->
      <% text_area = [
        [:handling_animals, "handling_animals","2x2"],
        [:handling_feeds, "handling_feeds","2x2"],
        [:handling_goods, "handling_goods","2x2"],
        ] %>

      <% text_area.map do |first,second,third| %>  
        <div class="field">
          <%= f.label first, class: "mt-2" %>
          <%= f.text_area first, autofocus: false, autocomplete: second, size: third, class: "form-control mg-tb-6" %>
        </div>
      <% end %>
      
      <div class="field">
        <%= f.label :feature, class: "mt-2" %><span>必須</span>
        <%= f.text_area :feature, autofocus: false, autocomplete: "feature", size: "5x5", class: "form-control mg-tb-6" %>
      </div>
      
      <!-- URL、SNS -->
      <% url = [:url,:twitter] %>
        
      <% url.map do |official| %>  
        <div class="field">
          <%= f.label official, class: "mt-2" %>
          <%= f.text_field official, autofocus: false, class: "form-control mg-tb-6" %>
        </div>
      <% end %>
    
      <div class="field">
        <%= f.label :instagram, class: "mt-2" %>（埋め込みコードを入力してください。）
        <%= f.text_field :instagram, autofocus: false, class: "form-control mg-tb-6" %>
      </div>
      
      <div class="actions">
        <%= f.submit yield(:regist_or_edit), class: "btn btn-primary w-100 mt-4",data: { confirm: @regist_message } %>
      </div>
    <% end %>
  </div>
</div>

<% unless @signup == "no_shop_name" %>
  <br><br>
  <%= link_to "◀︎ マイページへ戻る", @user, style:"font-size: 13px; color: silver;", onMouseOver:"this.style.textDecoration='none'; this.style.color='#ffffff';" %>
<% end %>

<div style="margin-top: 10px; float: right; font-size: 6px; color: black;">
  <a href="https://icons8.com/icon/32215/google-maps-old" target="_blank" >icon by Icons8</a>
</div>
