<% Rails.application.config.another_logger.debug "[d] view: reptilelist" %>

<% if @search_result %><!-- 検索フォーム -->
  <% @reptile_type = @search_result %>
  <% Rails.application.config.another_logger.debug "[d] view: reptilelist @reptile_type=#{@reptile_type.inspect}" %>
<% elsif @search_type1_list %><!-- 種類から探す --><!-- 販売生体ボタンから -->
  <% @reptile_type = @search_type1_list %>
  <% Rails.application.config.another_logger.debug "[d] view: reptilelist @reptile_type=#{@reptile_type.inspect}" %>
<% end %>

<% if @reptile_type %>
  <!-- 生体詳細 -->
  <section class="search-content">
    <ul class="search-list">
      <% @reptile_type.each do |reptile| %>
      <% Rails.application.config.another_logger.debug "[d] view: reptilelist reptile=#{reptile.inspect}" %>
      <!-- ループ -->
      <li class="search-item flex align-center">
        <div class="photo">
          <% if reptile.images.present? %>
            <%= link_to image_tag(reptile.images[0].url), reptiles_search_page_path(Reptile, id: reptile.id, searchtype: "reptileinfo" ) %>
          <% else %>
            <%= link_to image_tag("/uploads/TestFolder/noimage.jpg"), reptiles_search_page_path(Reptile, id: reptile.id, searchtype: "reptileinfo" ) %>
          <% end %>
        </div>
        
        <ul class="txt-list">
          <li class="txt-item flex align-center">
            <p class="species">種類</p>
            <p class="name"><%= reptile.type1 %></p>
          </li>
          <li class="txt-item flex align-center">
            <p class="morph">モルフ</p>
            <p class="name"><%= reptile.type2 %></p>
          </li>
          <li class="txt-item flex align-center">
            <p class="gender">性別</p>
            <p class="name"><%= reptile.sex %></p>
          </li>
          <li class="txt-item flex align-center">
            <p class="price">価格</p>
            <p class="name"><%= reptile.price %></p>
          </li>
          <% %>
          <li class="txt-item flex align-center">
            <p class="price">販売ショップ</p>
            <p class="name">
            <% if reptile.shop_name %>
              <%#= link_to reptile.shop_name, reptiles_search_page_path(searchtype: "shopinfo", shop_id: reptile.user_id) %>
              <%= link_to reptile.shop_name, reptiles_shop_page_path(shop_id: reptile.user_id) %>
            <% else %>
              <%= link_to "ショップ名未登録", reptiles_shop_page_path(shop_id: reptile.user_id) %>
            <% end %>
            </p>
          </li>
        </ul>
      </li>
      <!-- ここまでループ -->
      <% end %>
      <li class="search-item flex align-center"></li>
    </ul>
  </section>
  <!-- ここまで生体詳細 -->

<% end %>
