<% Rails.application.config.another_logger.debug "[d] view: reptileinfo" %>

<!-- レプタイル情報 取得判定 -->
<% if @disp_reptileinfo.present? %>
  <% @reptile = @disp_reptileinfo %>
  <% Rails.application.config.another_logger.debug "[d] view: reptileinfo @reptile=#{@reptile.inspect}" %>
<% end %>

<!-- image スライダー -->
<% if @reptile.images.present? %>
  <div class="swiper-container text-center">
    <div class="swiper-wrapper">
      <% @reptile.images.each do |image| %>
        <div class="swiper-slide">
          <%= image_tag image.url, class:"swiper-image" %>
        <%# <%= image_tag image.url, :size =>'450x253' %>
        <%#= image_tag image.url, :size =>'533x300' %>
        </div>
      <% end %>
      </div>
    <div class="swiper-button-prev swiper-button-black swiper-custom-button"></div>
    <div class="swiper-button-next swiper-button-black swiper-custom-button"></div>
    <div class="swiper-pagination swiper-pagination-white"></div>
  </div>
<% else %>
  <div style="margin-top: 188px"></div>
<% end %>
<!-- image スライダー -->

<%# <h3>店舗情報</h3> %>
<div class="shop-data-list">
  <dl class="shop-data-item flex">
    <dt>種名</dt>
    <dd><%= @reptile.type_name %></dd>
  </dl>
  <dl class="shop-data-item flex">
    <dt>モルフ</dt>
    <dd><%= @reptile.morph %></dd>
  </dl>
  <dl class="shop-data-item flex">
    <dt>性別</dt>
    <dd><%= @reptile.sex %></dd>
  </dl>
  <dl class="shop-data-item flex">
    <dt>年齢</dt>
    <dd><%= @reptile.age %></dd>
  </dl>
  <dl class="shop-data-item flex">
    <dt>重さ</dt>
    <dd><%= @reptile.weight %></dd>
  </dl>
  <dl class="shop-data-item flex">
    <dt>説明</dt>
    <dd><%= @reptile.description %></dd>
  </dl>
  <dl class="shop-data-item flex">
    <dt>価格</dt>
    <dd><%= @reptile.price %></dd>
  </dl>
  <dl class="shop-data-item flex">
    <dt>価格</dt>
    <dd><%= @reptile.sales_status %></dd>
  </dl>
  <dl class="shop-data-item flex">
    <dt>入荷時期</dt>
    <dd><%= @reptile.arrival_day %></dd>
  </dl>
  <dl class="shop-data-item flex">
    <dt>販売ショップ</dt>
    <dd>
      <% if @reptile.shop_name %>
        <%= link_to @reptile.shop_name, shop_page_path(shop_id: @reptile.user_id) %>
      <% else %>
        <%= link_to "ショップ名未登録", shop_page_path(shop_id: @reptile.user_id) %>
      <% end %>
    </dd>
  </dl>
</div>

<%= javascript_include_tag 'application' %>
