<% Rails.application.config.another_logger.debug "[d] view: reptile_list" %>

<!-- レプタイル情報 取得判定 -->
<% if @search_result %>
  <!-- 検索フォーム -->
  <% @reptile_type = @search_result %>
<% elsif @search_type1_list %>
  <!-- 種類から探す or 販売生体ボタンから -->
  <% @reptile_type = @search_type1_list %>
<% elsif @shop_search_reptile %>
  <!-- ショップ内_レプタイル検索結果 -->
  <% @reptile_type = @shop_search_reptile %>
<% elsif @shop_reptile_type1 %>
  <!-- ショップ内_レプタイル_type1選択 -->
  <% @reptile_type = @shop_reptile_type1 %>
<% elsif @current_reptile_type %>
  <!-- マイページ_レプタイル_type1選択 -->
  <% @reptile_type = @current_reptile_type %>
<% end %>
<% Rails.application.config.another_logger.debug "[d] view: reptile_list @reptile_type=#{@reptile_type.inspect}" %>

<!-- 検索フォーム -->
<section class="search-content">
  <% if @disp_type == "全国" %>
    <!-- 全国_検索 -->
    <% if @reptile_type.present? %>
      <% @searchtype = @reptile_type[0].type1 %>
    <% else %>
      <% @searchtype = "form" %>
    <% end %>
    <%= form_with(url: alljapan_page_path, method: :get, local: true) do |f| %>
      <%= f.hidden_field :searchtype, :value => @searchtype %>
      <%= f.text_field :search, :placeholder => "種名やモルフを入力して下さい", class:"search-box align-center" %>
      <%= f.submit '検索', class:"search-btn align-center" %>
    <% end %>
  <% else %>
    <!-- ショップ内_検索 -->
    <%= form_with(url: shop_page_path, method: :get, local: true) do |f| %>
    <%= f.hidden_field :shop_id, :value => @reptile_type[0].user_id %>
    <%= f.text_field :search, :placeholder => "種名やモルフを入力して下さい", class:"search-box align-center" %>
    <%= f.submit '検索', class:"search-btn align-center" %>
    <% end %>
  <% end %>
</section>

<% if @reptile_type %>
  <!-- 生体リスト -->
  <section class="search-content">
    <ul class="search-list">
      <% @reptile_type.each do |reptile| %>
      <% Rails.application.config.another_logger.debug "[d] view: reptile_list reptile=#{reptile.inspect}" %>
      <!-- ループ -->
      <li class="search-item flex align-center">
      
        <div class="photo">
          <!-- 写真の登録有無判定 -->
          <% if reptile.images.present? %>
            <% @disp_image = reptile.images[0].url %>
          <% else %>
            <% @disp_image = "/uploads/TestFolder/noimage.jpg" %>
          <% end %>
          <!-- 表示先判定 --> 
          <% if @current_reptile_type.present? %>
            <%= link_to image_tag(@disp_image), user_path(current_user, current_select: reptile.id) %>
          <% else %>
            <% if @disp_type == "全国" %>
              <%= link_to image_tag(@disp_image), alljapan_page_path(id: reptile.id, searchtype: "reptile_info" ), class:"photo-frame" %>
            <% else %>
              <%= link_to image_tag(@disp_image), shop_page_path(reptile_id: reptile.id, shop_id: reptile.user_id) %>
            <% end %>
          <% end %>
        </div>
        
        <ul class="txt-list">
          <li class="txt-item flex align-center">
            <p class="species">種名</p>
            <p class="name">
            <% if @disp_type == "全国" %>
              <%= link_to reptile.type_name, alljapan_page_path(id: reptile.id, searchtype: "reptile_info" ), class:"photo-frame" %>
            <% else %>
              <%= link_to reptile.type_name, shop_page_path(reptile_id: reptile.id, shop_id: reptile.user_id) %>
            <% end %>
            </p>
          </li>
          <li class="txt-item flex align-center">
            <p class="morph">モルフ</p>
            <p class="name"><%= reptile.morph %></p>
          </li>
          <li class="txt-item flex align-center">
            <p class="gender">性別</p>
            <p class="name"><%= reptile.sex %></p>
          </li>
          <li class="txt-item flex align-center">
            <p class="price">価格</p>
            <p class="name"><%= reptile.price %></p>
          </li>
            <li class="txt-item flex align-center">
              <p class="shop">販売ショップ</p>
              <p class="name">
              <% if reptile.shop_name %>
                <% if current_user %>
                  <% if reptile.user_id == current_user.id %>
                    <%= reptile.shop_name %>
                  <% else %>
                    <%= link_to reptile.shop_name, shop_page_path(shop_id: reptile.user_id) %>
                  <% end %>
                <% else %>
                  <%= link_to reptile.shop_name, shop_page_path(shop_id: reptile.user_id) %>
                <% end %>
              <% else %>
                <%= link_to "ショップ名未登録", shop_page_path(shop_id: reptile.user_id) %>
              <% end %>
              </p>
            </li>
        </ul>
      </li>
      <!-- /ループ -->
      <% end %>
      <li class="search-item flex align-center"></li>
    </ul>
  </section>
  <!-- /生体リスト -->

<% end %>
