<% Rails.application.config.another_logger.debug "[d] view: reptilelist" %>

<!-- レプタイル情報 取得判定 -->
<% if @search_result %>
  <!-- 検索フォーム -->
  <% @reptile_type = @search_result %>
<% elsif @search_type1_list %>
  <!-- 種類から探す or 販売生体ボタンから -->
  <% @reptile_type = @search_type1_list %>
<% elsif @shop_search_reptile %>
  <!-- ショップ内レプタイル検索結果 -->
  <% @reptile_type = @shop_search_reptile %>
<% elsif @shop_reptile_type1 %>
  <!-- ショップ内_レプタイル_type1選択 -->
  <% @reptile_type = @shop_reptile_type1 %>
<% end %>
<% Rails.application.config.another_logger.debug "[d] view: reptilelist @reptile_type=#{@reptile_type.inspect}" %>

<!-- 検索フォーム -->
<section class="search-content">
  <% if @disp_type == "全国" %>
    <!-- 全国_検索 -->
    <% if @reptile_type.present? %>
      <% @searchtype = @reptile_type[0].type1 %>
    <% else %>
      <% @searchtype = "form" %>
    <% end %>
    <%= form_with(url: search_page_path, method: :get, local: true) do |f| %>
      <%= f.hidden_field :searchtype, :value => @searchtype %>
      <%= f.text_field :search, :placeholder => "種名やモルフを入力して下さい", class:"search-box align-center" %>
      <%= f.submit '検索', class:"search-btn align-center" %>
    <% end %>
  <% else %>
    <!-- ショップ内_検索 -->
    <%= form_with(url: shop_page_path, method: :get, local: true) do |f| %>
    <%= f.hidden_field :shop_id, :value => @reptile_type[0].user_id %>
    <%= f.text_field :search, :placeholder => "種名やモルフを入力して下さい", class:"search-box align-center" %>
    <%= f.submit '検索', class:"search-btn align-center" %>
    <% end %>
  <% end %>
</section>

<% if @reptile_type %>
  <!-- 生体詳細 -->
  <section class="search-content">
    <ul class="search-list">
      <% @reptile_type.each do |reptile| %>
      <% Rails.application.config.another_logger.debug "[d] view: reptilelist reptile=#{reptile.inspect}" %>
      <!-- ループ -->
      <li class="search-item flex align-center">
        <div class="photo">
          <% if reptile.images.present? %>
            <%= link_to image_tag(reptile.images[0].url), search_page_path(Reptile, id: reptile.id, searchtype: "reptileinfo" ) %>
          <% else %>
            <%= link_to image_tag("/uploads/TestFolder/noimage.jpg"), search_page_path(Reptile, id: reptile.id, searchtype: "reptileinfo" ) %>
          <% end %>
        </div>
        
        <ul class="txt-list">
          <li class="txt-item flex align-center">
            <p class="species">種名</p>
            <p class="name"><%= reptile.type_name %></p>
          </li>
          <li class="txt-item flex align-center">
            <p class="morph">モルフ</p>
            <p class="name"><%= reptile.morph %></p>
          </li>
          <li class="txt-item flex align-center">
            <p class="gender">性別</p>
            <p class="name"><%= reptile.sex %></p>
          </li>
          <li class="txt-item flex align-center">
            <p class="price">価格</p>
            <p class="name"><%= reptile.price %></p>
          </li>
            <li class="txt-item flex align-center">
              <p class="price">販売ショップ</p>
              <p class="name">
              <% if reptile.shop_name %>
                <% if current_user %>
                  <% if reptile.user_id == current_user.id %>
                    <%= reptile.shop_name %>
                  <% else %>
                    <%= link_to reptile.shop_name, shop_page_path(shop_id: reptile.user_id) %>
                  <% end %>
                <% else %>
                  <%= link_to reptile.shop_name, shop_page_path(shop_id: reptile.user_id) %>
                <% end %>
              <% else %>
                <%= link_to "ショップ名未登録", shop_page_path(shop_id: reptile.user_id) %>
              <% end %>
              </p>
            </li>
        </ul>
      </li>
      <!-- ここまでループ -->
      <% end %>
      <li class="search-item flex align-center"></li>
    </ul>
  </section>
  <!-- ここまで生体詳細 -->

<% end %>

<!-- flash動作用 -->
<%= javascript_include_tag 'application' %>
