<% Rails.application.config.another_logger.debug "[d] view: reptileinfo" %>

<!-- レプタイル情報 取得判定 -->
<% if @select_reptile.present? %>
  <!-- 選択したレプタイル情報 -->
  <% @reptile = @select_reptile %>
<% elsif @new_regist_reptile.present? %>
  <!-- 新入荷レプタイル情報 -->
  <% @reptile = @new_regist_reptile %>
<% end %>
<% Rails.application.config.another_logger.debug "[d] view: reptileinfo @reptile=#{@reptile.inspect}" %>

<!-- 検索フォーム -->
<section class="search-content">
  <% if @disp_type == "全国" %>
    <!-- 全国_検索 -->
    <% if @reptile_type.present? %>
      <% @searchtype = @reptile_type[0].type1 %>
    <% else %>
      <% @searchtype = "form" %>
    <% end %>
    <%= form_with(url: search_page_path, method: :get, local: true) do |f| %>
      <%= f.hidden_field :searchtype, :value => @searchtype %>
      <%= f.text_field :search, :placeholder => "種名やモルフを入力して下さい", class:"search-box align-center" %>
      <%= f.submit '検索', class:"search-btn align-center" %>
    <% end %>
  <% else %>
    <!-- ショップ内_検索 -->
    <%= form_with(url: shop_page_path, method: :get, local: true) do |f| %>
    <%= f.hidden_field :shop_id, :value => @reptile_type[0].user_id %>
    <%= f.text_field :search, :placeholder => "種名やモルフを入力して下さい", class:"search-box align-center" %>
    <%= f.submit '検索', class:"search-btn align-center" %>
    <% end %>
  <% end %>
</section>

<!-- 生体情報の編集 -->
<% if current_user %>
  <% if @reptile.user_id == current_user.id %>
    <div class="col-4">
      <%= link_to "生体情報の編集", edit_user_reptile_path(user_id: @reptile.user_id, id: @reptile.id), class:"btn btn-sm btn-primary px-2 my-2" %>
      <%= link_to "削除", user_reptile_path(user_id: @reptile.user_id, id: @reptile.id), method: :delete, class:"btn btn-sm login_out btn-hover px-3 my-2", data: { confirm: "生体を削除します。\n本当によろしいですか？" } %>
    </div>
  <% end %>
<% end %>
<!-- ユーザー情報の編集 -->

<!-- image スライダー -->
<% if @reptile.images.present? %>
  <div class="swiper-container text-center">
    <!-- １枚しかなければ１枚のみ表示 -->
    <% if @reptile.images[1].present? %>
      <div class="swiper-wrapper">
        <% @reptile.images.each do |image| %>
          <div class="swiper-slide">
            <%= image_tag image.url, class:"swiper-image" %>
          </div>
        <% end %>
        </div>
      <div class="swiper-button-prev swiper-button-black swiper-custom-button"></div>
      <div class="swiper-button-next swiper-button-black swiper-custom-button"></div>
      <div class="swiper-pagination swiper-pagination-white"></div>
    <% else %>
      <%= image_tag @reptile.images[0].url, :size =>'450x253' %>
    <% end %>
  </div>
<% else %>
  <div style="margin-top: 188px"></div>
<% end %>
<!-- image スライダー -->

<%# <h3>店舗情報</h3> %>
<div class="shop-data-list">
  <dl class="shop-data-item flex">
    <dt>種名</dt>
    <dd><%= @reptile.type_name %></dd>
  </dl>
  <dl class="shop-data-item flex">
    <dt>モルフ</dt>
    <dd><%= @reptile.morph %></dd>
  </dl>
  <dl class="shop-data-item flex">
    <dt>性別</dt>
    <dd><%= @reptile.sex %></dd>
  </dl>
  <dl class="shop-data-item flex">
    <dt>年齢</dt>
    <dd><%= @reptile.age %></dd>
  </dl>
  <dl class="shop-data-item flex">
    <dt>重さ</dt>
    <dd><%= @reptile.weight %></dd>
  </dl>
  <dl class="shop-data-item flex">
    <dt>説明</dt>
    <dd><%= @reptile.description %></dd>
  </dl>
  <dl class="shop-data-item flex">
    <dt>価格</dt>
    <dd><%= @reptile.price %></dd>
  </dl>
  <dl class="shop-data-item flex">
    <dt>価格</dt>
    <dd><%= @reptile.sales_status %></dd>
  </dl>
  <dl class="shop-data-item flex">
    <dt>入荷時期</dt>
    <dd><%= @reptile.arrival_day %></dd>
  </dl>
  <dl class="shop-data-item flex">
    <dt>販売ショップ</dt>
    <dd>
      <% if @reptile.shop_name %>
        <% if current_user %>
          <% if @reptile.user_id == current_user.id %>
            <%= @reptile.shop_name %>
          <% else %>
            <%= link_to @reptile.shop_name, shop_page_path(shop_id: @reptile.user_id) %>
          <% end %>
        <% else %>
          <%= link_to @reptile.shop_name, shop_page_path(shop_id: @reptile.user_id) %>
        <% end %>
      <% else %>
        <%= link_to "ショップ名未登録", shop_page_path(shop_id: @reptile.user_id) %>
      <% end %>
    </dd>
  </dl>
</div>

<!-- flash動作用 -->
<%= javascript_include_tag 'application' %>
