<% Rails.application.config.another_logger.debug "[d] view: shopinfo" %>

<!-- ショップ情報 取得判定 -->
<% if @disp_shopinfo.present? %>
  <% @user = @disp_shopinfo %>
  <% Rails.application.config.another_logger.debug "[d] view: shopinfo @user=#{@user.inspect}" %>
<% end %>

<!-- 検索フォーム -->
<section class="search-content">
  <%= form_with(url: shop_page_path, method: :get, local: true) do |f| %>
  <%= f.hidden_field :shop_id, :value => @user.id %>
  <%= f.text_field :search, :placeholder => "種名やモルフを入力して下さい", class:"search-box align-center" %>
  <%= f.submit '検索', class:"search-btn align-center" %>
  <% end %>
</section>

<!-- shop_image スライダー -->
<% if @user.shop_images.present? %>
  <div class="swiper-container text-center">
    <!-- １枚しかなければ１枚のみ表示 -->
    <% if @user.shop_images[1].present? %>
      <div class="swiper-wrapper">
        <% @user.shop_images.each do |image| %>
        <div class="swiper-slide">
          <%= image_tag image.url, class:"swiper-image" %>
        </div>
        <% end %>
        </div>
      <div class="swiper-button-prev swiper-button-black swiper-custom-button"></div>
      <div class="swiper-button-next swiper-button-black swiper-custom-button"></div>
      <div class="swiper-pagination swiper-pagination-white"></div>
    <% else %>
      <%= image_tag @user.shop_images[0].url, :size =>'450x253' %>
      <%#= image_tag @user.shop_images[0].url, :size =>'533x300' %>
    <% end %>
  </div>
<% end %>
<!-- shop_image スライダー -->

<%# <h3>店舗情報</h3> %>
<div class="shop-data-list">
  <dl class="shop-data-item flex align-center">
    <dt>所在地（住所）</dt>
    <dd><%= @user.address %></dd>
  </dl>
  <% if @user.howto_access.present? %>
  <dl class="shop-data-item flex align-center">
    <dt>アクセス方法</dt>
    <!-- googlemapへスクロール -->
    <dd class="anchor"><a href="#googlemap"><%= @user.howto_access %></a></span></dd>
  </dl>
  <% end %>
  <dl class="shop-data-item flex">
    <dt>営業時間</dt>
    <dd><%= @user.business_hours %></dd>
  </dl>
  <dl class="shop-data-item flex">
    <dt>定休日</dt>
    <dd><%= @user.holiday %></dd>
  </dl>
  <dl class="shop-data-item flex">
    <dt>電話番号</dt>
    <dd><%= @user.tel %></dd>
  </dl>
  <% if @user.url.present? %>
  <dl class="shop-data-item flex">
    <dt>ホームページ</dt>    <!-- 別タブでホームページに移動 -->
    <dd><a href=<%= @user.url %> target="_blank"><%= @user.url %></a></dd>
  </dl>
  <% end %>
  <% if @user.twitter.present? %>
  <dl class="shop-data-item flex">
    <dt>SNS(twitter)</dt>    <!-- 別タブでSNSに移動 -->
    <dd><a href=<%= @user.twitter %> target="_blank"><%= @user.twitter %></a></dd>
  </dl>
  <% end %>
  <% if @user.handling_animals.present? %>
  <dl class="shop-data-item flex">
    <dt>取扱い生体</dt>
    <dd><%= simple_format(@user.handling_animals) %></dd>
  </dl>
  <% end %>
  <% if @user.handling_feeds.present? %>
  <dl class="shop-data-item flex">
    <dt>取扱い餌</dt>
    <dd><%= simple_format(@user.handling_feeds) %></dd>
  </dl>
  <% end %>
  <% if @user.handling_goods.present? %>
  <dl class="shop-data-item flex">
    <dt>取扱い用品</dt>
    <dd><%= simple_format(@user.handling_goods) %></dd>
  </dl>
  <% end %>
  <% if @user.feature.present? %>
  <dl class="shop-data-item flex">
    <dt>当店の特徴</dt>
    <dd><%= simple_format(@user.feature) %></dd>
  </dl>
  <% end %>
</div>

<!-- google Map -->
<% if @user.map_info.present? %>
  <div class="col-12 googlemap">
    <iframe src=<%= @user.map_info %> width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
<% end %>
