<% Rails.application.config.another_logger.debug "[d] view: users/index id=#{@user.id}" %>

<div style="padding-top: 40px;">

<!-- マイページ -->
<div class="container">
  <h1 class="shop-ttl"><%= @user.shop_name %></h1>
  <div class="row justify-content-center show">
      
      <!-- サイドメニュー -->
      <div class="col-lg-3 col-xl-3">
      
        <div class="regist-pd">
          <%= link_to new_user_reptile_path(current_user), style:"text-decoration: none;" do %>
            <h2 class="regist botton-hover">生体登録</h2>
          <% end %>
        </div>
        
        <!-- 生体カテゴリー -->
        <h2 class="menu-ttl">販売生体
          <div class="arrow absolute ds-sp"><img src="image/arrow.png" alt=""></div>
        </h2>
        
        <ul class="menu-list">
          <!-- メニュー作成 -->
          <% reptile_list = [ "ヘビ", "カメ", "トカゲ", "ヤモリ", "両生類", "奇虫・その他" ] %>
          <% reptile_list.each do |reptile_type| %>
            <%= link_to user_path(current_user, reptile_type: reptile_type), style:"text-decoration: none;" do %>
              <li class="reptile-item"><%= reptile_type %>
                <div style="float: right; margin-right: auto;">
                  <i class="fas fa-chevron-right"></i>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
        <!-- 生体カテゴリー -->
        
        <!-- 入荷情報 -->
        <h2 class="arrival-ttl menu-ttl relative mt-5">新入荷
          <div class="arrow absolute ds-sp"><img src="image/arrow.png" alt=""></div>
        </h2>
        
        <ul class="menu-list">
          <li class="arrival-item">
              <p class="arrival-day">2020年◯月◯日入荷</p>
              <!-- ↓リンク入れて商品ページに飛ぶようにする -->
              <p class="arrival-animal"><a href="#">メキシカンブラックキングスネーク</a></p>
          </li>
        </ul>
        <!-- 入荷情報 -->
        
        <!-- お店のSNS -->
        <div class="sns-box-wrap wrap-trigger">
          <% if @user.twitter.present? || @user.instagram.present? %>
            <h2 class="sns-ttl relative mt-5">SNS
              <div class="arrow absolute ds-sp"><img src="image/arrow.png" alt=""></div>
            </h2>
          <% end %>
          <!-- twitter -->
          <% if @user.twitter.present? %>
            <div class="sns-box">
              <a class="twitter-timeline" data-width="100%" data-height="100%" data-theme="dark" href=<%= @user.twitter %> ></a>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          <% end %>
          <!-- twitter -->
          
          <!-- Instagram -->
          <% if @user.instagram.present? %>
            <div style="padding: 10px 0;">
              <%= @user.instagram.html_safe %>
            </div>
          <% end %>
          <!-- Instagram -->
        </div>
        <!-- お店のSNS -->
        
      </div>
      <!-- サイドメニュー -->
      
      
      <!-- メイン -->
      <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
        <% if @show_option == "user" %>
          <%= render "userInfo" %>
        <% else %>
          <%= render "reptileInfo" %>
        <% end %>
          <!--
          <div id="map"></div>
          <script>
            var MyLatLng = new google.maps.LatLng(35.5419941, 139.4453761);
            var Options = {
            zoom: 15,      //地図の縮尺値
            center: MyLatLng,    //地図の中心座標
            mapTypeId: 'roadmap'   //地図の種類
            };
            var map = new google.maps.Map(document.getElementById('map'), Options);
          </script>
          -->
          
          <!-- ユーザー情報の編集 -->
          <div class="col-4">
            <%= link_to "ユーザー情報の編集",edit_user_registration_path(edit_mode: "info"), class:"btn btn-sm btn-primary px-2 my-2" %>
            
            <% unless @user.provider.present? %>
              <%= link_to "パスワードの変更",edit_user_registration_path(edit_mode: "pass"), class:"btn btn-sm btn-primary px-3 my-2" %>
            <% end %>
            
            <%= link_to "アカウントの削除",edit_user_registration_path(edit_mode: "destroy"), class:"btn btn-sm login_out btn-hover px-3 my-2" %>
          </div>
          
      </div>
      
  </div>
</div>

<script>
$('.menu-ttl').click(function() {
  $(this).next('.menu-list').slideToggle();
});
$('.sns-ttl').click(function() {
  $('.sns-box').slideToggle();
});
</script>
