<p id="notice"><%= notice %></p>

<p>
  <strong>Tyep1:</strong>
  <%= @reptile.tyep1 %>
</p>

<p>
  <strong>Tyep2:</strong>
  <%= @reptile.tyep2 %>
</p>

<p>
  <strong>Aname:</strong>
  <%= @reptile.aname %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @reptile.sex %>
</p>

<p>
  <strong>Size:</strong>
  <%= @reptile.size %>
</p>

<p>
  <strong>Max:</strong>
  <%= @reptile.max %>
</p>

<p>
  <strong>Area:</strong>
  <%= @reptile.area %>
</p>

<p>
  <strong>Description:</strong>
  <%= @reptile.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @reptile.price %>
</p>

<p>
  <strong>Sales status:</strong>
  <%= @reptile.sales_status %>
</p>

<p>
  <strong>Arrival day:</strong>
  <%= @reptile.arrival_day %>
</p>

<p>
  <strong>User:</strong>
  <%= @reptile.user_id %>
</p>

<%= link_to 'Edit', edit_reptile_path(@reptile) %> |
<%= link_to 'Back', reptiles_path %>
