<% flash.each do |msg_type, msg| %>

  <!-- msg_typeのハッシュを文字列として取得後、応じたbootstrapを当てる -->
  <% @key = msg_type.to_s %>
  <% Rails.application.config.another_logger.debug "[debug] flash[:#{@key}]" %>

  <% if @key == "alert" %>
    <div class="alert alert-danger" role="alert" id="alert">
      <a href="#" class="close" data-dismiss="alert">×</a>
      <%= msg %>
    </div>
  <% elsif @key == "notice" %>
    <div class="alert alert-success" role="alert" id="alert">
      <a href="#" class="close" data-dismiss="alert">×</a>
      <%= msg %>
    </div>
  <% else %>
    <div class="alert alert-<%= msg_type %>" role="alert" id="alert">
      <a href="#" class="close" data-dismiss="alert">×</a>
      <%= msg %>
    </div>
  <% end %>
<% end %>


<!-- 
<% flash.each do |message_type, msg| %>
  <div class="alert alert-<%= message_type %>"><%= msg.html_safe %></div>
<% end %>

<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
<% end %>
  
<% flash.each do |msg_type, msg| %>
  <div class="alert alert-<%= msg_type %>" role="alert" id="alert">
    <a href="#" class="close" data-dismiss="alert">×</a>
    <%= msg %>
  </div>
<% end %>
-->
