<footer>
  <div class="copyright">
    <div class="bg">
      <div class="inner">
        <p class="copyright-txt">
        <small>Copyright © 2019 Reptiles Search.co,.ltd. All Rights Resarved.</small>
        </p>
      </div>
    </div>
  </div>

  <nav class="gnav ds-sp">
    <ul class="gnav_list">
      <%= link_to root_path, class:"gnav_item item01" do %>
        <li><i class="fas fa-home"></i><p>ホーム</p></li>
      <% end %>
      <li class="gnav_item item02"><i class="fas fa-search"></i><p>検索</p></li>
      <li class="gnav_item item03 menu_trigger"><i class="fas fa-bars"></i><p>メニュー</p></li>
    </ul>
  </nav>
  
  <div class="menu_modal ds-sp"></div> 

  <div class="nav_block ds-sp">
    <ul class="nav_list">
      <% if current_user.present? %>
        <%= link_to user_path(current_user) do %>
          <li class="nav_item">マイページ</li>
        <% end %>
        <%= link_to new_user_reptile_path(current_user) do %>
          <li class="nav_item">生体登録</li>
        <% end %>
        <%= link_to "#" do %>
          <li class="nav_item">・・・・</li>
        <% end %>
        <%= link_to "#" do %>
          <li class="nav_item">・・・・</li>
        <% end %>
        <%= link_to edit_user_registration_path(edit_mode: "info") do %>
          <li class="nav_item">ユーザー情報の編集</li>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <li class="nav_item">ログアウト</li>
        <% end %>
      <% else %>
        <%= link_to alljapan_page_path(type1: "ヘビ", searchtype: "ctg_btn" ) do %>
          <li class="nav_item">ヘビを探す</li>
        <% end %>
        <%= link_to alljapan_page_path(type1: "カメ", searchtype: "ctg_btn" ) do %>
          <li class="nav_item">カメを探す</li>
        <% end %>
        <%= link_to alljapan_page_path(type1: "トカゲ", searchtype: "ctg_btn" ) do %>
          <li class="nav_item">トカゲを探す</li>
        <% end %>
        <%= link_to alljapan_page_path(type1: "ヤモリ", searchtype: "ctg_btn" ) do %>
          <li class="nav_item">ヤモリを探す</li>
        <% end %>
        <%= link_to alljapan_page_path(type1: "両生類", searchtype: "ctg_btn" ) do %>
          <li class="nav_item">両生類を探す</li>
        <% end %>
        <%= link_to alljapan_page_path(type1: "奇虫・その他", searchtype: "ctg_btn" ) do %>
          <li class="nav_item">奇虫・その他を探す</li>
        <% end %>
      <% end %>
    </ul>
  </div>
</footer>


<script>
$(function (){
    $('.menu_trigger').click(function(){
        $('.nav_block').slideToggle(200);
        $('.menu_modal').toggleClass('modal_active');
    })
});
$(function() {
    $('.menu_modal').click(function() {
        $('.menu_modal').toggleClass('modal_active');
        $('.nav_block').slideToggle(200);
    })
})
</script>
