<header class="navbar navbar-expand-md navbar-dark fixed-top" id="header">
  <div class="container">
    <%= link_to "Reptiles Search", root_path, id: "logo" %>
      
      <ul class="nav nav-right reset">
        <% if user_signed_in? %>
        <!--
          <% if current_user.image.present? %>
            <%= image_tag current_user.image, :size =>'30x30' %>
          <% end %>
        -->
          <li>
          <% if current_user.shop_name.present? %>
            <%= link_to 'マイページ', user_path(current_user), class:"btn btn-sm mypage btn-hover" %>
          <% else %>
            <%= link_to 'マイページ', edit_user_registration_path(edit_mode: "info", jadge_shop_name: "no_shop_name"), class:"btn btn-sm mypage btn-hover" %>
          <% end %>
          </li>
          
          <li class="btn-padding"><%= link_to 'ログアウト', destroy_user_session_path, class:"btn btn-sm login_out btn-hover", method: :delete %></li>
        <% else %>
          <li><%= link_to "SHOP登録", new_user_registration_path, class:"btn btn-sm btn-danger newcreate btn-hover" %></li>
          <li class="btn-padding"><%= link_to "ログイン", new_user_session_path, class:"btn btn-sm login_out btn-hover" %></li>
        <% end %>
      </ul>
      
  </div>
</header>
