<!DOCTYPE html>
<html>
  <head>
    <!-- head -->
    <%= render 'layouts/head' %>
  </head>

  <body>
    <!-- header -->
    <%= render 'layouts/header' %>
    
    <!-- flash_message -->
    <div class="container">
      <%= render 'layouts/flash_messages' %>
    </div>
    
    <%= yield %>
    
    <!-- footer -->
    <%= render 'layouts/footer' %>
  </body>
</html>
